#main{
  margin: 70px;
  display:block;
  align-items: center;
}

#img-div{
  display:block;
}
#image{
  max-width: 20em;
  height: 15em;
}

figure{
  text-align: center;  
}

h1{
  text-align: center;
}

#tribute-info {
  text-align: left;
}